.calender {
    height: 600px;
    border: solid 1.2px;
    border-color: rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    background-color: #ddbc0000;
  }

  .calender th {
    /*table内のthに対して*/
    padding: 10px;
    /*上下左右10pxずつ*/
    font-size: 0.9rem;
    border-color: #626262;
  }

  .calender th:first-child {
    /* 横スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #fffacd;
    z-index: 10;
  }

  .calender thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
    border-bottom: none;
    background-color: #fffacd;
  }

  .calender thead th:first-child {
    padding: 20px;
    z-index: 10;
  }

  .calender td {
    /*table内のtdに対して*/
    padding: 3px 10px;
    /*上下3pxで左右10px*/
    z-index: 0;
    border-color: black;
  }

  .calender td:hover {
    /*table内のtdに対して*/
    padding: 3px 10px;
    /*上下3pxで左右10px*/
    z-index: 0;
    background-color: #4444442d;
  }

  /* input */

  .calender-cell {
    width: 40px;
    height: 35px;
    border: none;
    background: none;
    text-align: center;
    z-index: 0;
    color: #4b9dd8;
  }

  .calender-cell:active {
    border: none;
    background: none;
    outline: 0;
  }
