@charset "UTF-8";

body {
  font-size: 1rem;
  font-family: "03\30B9\30DE\30FC\30C8\30D5\30A9\30F3\30C8UI", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  background-image: linear-gradient(to right bottom, #d8ebea, #fff5ea);
  text-align: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  min-width: 1000px;
}

.header {
  background-image: linear-gradient(to right bottom, #d8ebea, #fff5ea);
  font-size: 1rem;
}

.nav1 ul {
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50px;
  border: solid 3px;
  border-color: #d8d6bc;
  background-color: #d5e6e4;
}

.nav1 li:hover {
  background-color: #fff5ea;
  border-radius: 50px;
}

.nav1 a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav1 a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #eae0dd;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.nav1 a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.address {
  border-radius: 50px;
  border: solid 7px;
  border-color: #aaccca;
  background-color: #ebeade;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
}

.tel {
  font-size: 1.3rem;
  font-weight: bold;
}

.introduction {
  border-radius: 42px;
  border: solid 2px;
  border-color: #ccb3ab;
  background-color: #eae0dd;
  list-style: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.name {
  padding-top: 5px;
  line-height: 35px;
}

