

.booking-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    filter: brightness(110%);
    opacity: 0.8;
    z-index: 0;
}

body {
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

header {
    height: 141.1px;
    background-color: rgba(238, 238, 238, 0.441);
}

.header-top-flame {
    height: 95px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.logo-flame {
    line-height: 1;
    align-self: center;
    z-index: 1;
}

.logo-container {
    padding: 1em 0;
    z-index: 1;
}

.logo-container a {
    padding: 1em 0;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #444444;
    text-decoration: underline;
    z-index: 1;
}

.booking-btn-flame {
    margin-left: auto;
    padding: 0 1em;

}

.booking-btn-container {
    display: inline-flex;
    height: 100%;
    padding-left: 0;
    position: relative;
    -webkit-flex-direction: column;
    padding: 0 1em;
    -webkit-justify-content: center;
}

.booking-btn {
    margin-top: 10px;
    transition: 0.5s;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #fff;
    border-color: #757575;
    background-color: #757575;
    padding-top: 10px;
    padding-right: 43px;
    padding-bottom: 10px;
    padding-left: 43px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    line-height: 1;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
}

.booking-btn:hover {
    transition: 0.5s;
    border-color: #444444;
    background-color: #444444;
}

.main-nav-flame {
    background-color: #eee;

}

/* .main-nav-container .transform{
    background-color: #eee;
    padding: 120px 300px;
} */

.main-nav {
    justify-content: center;
    max-width: 688px;
    margin: 0 auto;
    font-family: 'Lora',serif;
    font-weight: 500;

}

.navbar-toggler {
    min-height: 3em;
}

#navbarTogglerDemo02 {
    min-height: 3.5em;



}

.main-nav ul {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: -20px;
}

.main-nav li {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s linear;
    color: #fff;
    margin-right: -6px;
}

.main-nav li:hover {
    transition: 0.5s;
    background-color: #757575;

}

.main-nav a {
    transition: 0.3s;
    color: rgb(66, 66, 66);
    justify-content: center;
    text-decoration: none;
    line-height: -10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-nav a:hover {
    color: #fff;
}



@media (min-width: 960px){
    .header-container {
        max-width: 1240px;
    }


}



@media (max-width: 340px)
{
    .uagb-post-grid .uagb-post__columns-tablet-2 article {
        width: 50%;
    }
}


.delete {
    color: #44444400;
    background-color: #44444400;
    transition: 2s;
}
