body {
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

header {
    height: 141.1px;
    z-index: 1;
    background-color: rgba(238, 238, 238, 0.441);
}

.header-top-flame {
    height: 95px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.logo-flame {
    line-height: 1;
    align-self: center;
}

.logo-container {
    padding: 1em 0;
}

.logo-container a {
    padding: 1em 0;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #444444;
    text-decoration: underline;
}

.booking-btn-flame {
    margin-left: auto;
    padding: 0 1em;

}

.booking-btn-container {
    display: inline-flex;
    height: 100%;
    padding-left: 0;
    position: relative;
    -webkit-flex-direction: column;
    padding: 0 1em;
    -webkit-justify-content: center;
}

.booking-btn {
    margin-top: 10px;
    transition: 0.5s;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #fff;
    border-color: #757575;
    background-color: #757575;
    padding-top: 10px;
    padding-right: 43px;
    padding-bottom: 10px;
    padding-left: 43px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    line-height: 1;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
}

.booking-btn:hover {
    transition: 0.5s;
    border-color: #444444;
    background-color: #444444;
}

.main-nav-flame {
    background-color: #eee;

}

.transform{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    flex: auto;
    justify-content: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    transition: 3s;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.367);

}

.transform2{

    background-color: rgba(238, 238, 238, 0);
    margin-top: 20px;
}

/* .main-nav-container .transform{
    background-color: #eee;
    padding: 120px 300px;
} */

.main-nav {
    justify-content: center;
    max-width: 688px;
    margin: 0 auto;
    font-family: 'Lora',serif;
    font-weight: 500;

}

.navbar-toggler {
    min-height: 3em;
}

#navbarTogglerDemo02 {
    min-height: 3.5em;



}

.main-nav ul {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    height: 50px;
    line-height: -20px;
}

.main-nav li {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s linear;
    color: #fff;
    margin-right: -6px;
}

.main-nav li:hover {
    transition: 0.5s;
    background-color: #757575;

}

.main-nav a {
    transition: 0.3s;
    color: rgb(66, 66, 66);
    justify-content: center;
    text-decoration: none;
    line-height: -10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-nav a:hover {
    color: #fff;
}

#concept-main-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    filter: brightness(110%);

    opacity: 0.8;
}

.vertical-letter {
    color: #444444;
    width: 100%;
    position: relative;
    -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: sans-serif;
  font-size: calc(1.6rem + ((1vw - 0.64rem) * 1));
  transform: translate3d(-165px,-350px,0);
  line-height: 65px;
  letter-spacing: 0.2em;
  margin-bottom: -534px;
}

/* .vertical-letter {
    width: 100%;
    height: 100%;
     position: relative;
    clear: both;
    margin-left: -10px;
    padding-top: 0px;
    -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: sans-serif;
  font-size: 20px;
  transform: translate3d(0px,-220px,0);
  line-height: 28.8px;
  letter-spacing: 0.1em;

} */

.sp-letter {
    /* background-color: #77777705; */
}

.concept {
    transform: translate3d(0px,100px,0);
}

.heading-container h1 {
    margin-bottom: 35px;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 500;
letter-spacing: 0.2em;
    font-size: 20px;
}
.para-container {
    margin-bottom: 55px;
    padding-left: 100px;
}

.para-container p{
    font-size: 16px;
    font-weight: 550;
    line-height: 1.8;
    letter-spacing: 0.19em;
    font-family: sans-serif;
}

.special {
    letter-spacing: -0.5em;
}

.policy-container dt {
    position: relative;
    clear: both;
    float: left;
    padding-top: 0px;
}

.policy-container .policy-text:after {

    content: '―――――――――';
    position: relative;
    left: 10px;
    letter-spacing: -0.1em;
    width: 100%;
    height: 1px;
    font-weight: 100;
}

.policy-container dd {
    padding: 0 0 50px 195px;

}

.policy-container p {
    font-size: 16px;
    font-weight: 550;
    line-height: 1.8;
    letter-spacing: 0.19em;
    font-family: sans-serif;

}




