body {
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

header {
    height: 141.1px;
    z-index: 1;
    background-color: rgba(238, 238, 238, 0.441);
}

.header-top-flame {
    height: 95px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.logo-flame {
    line-height: 1;
    align-self: center;
}

.logo-container {
    padding: 1em 0;
}

.logo-container a {
    padding: 1em 0;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #444444;
    text-decoration: underline;
}

.booking-btn-flame {
    margin-left: auto;
    padding: 0 1em;

}

.booking-btn-container {
    display: inline-flex;
    height: 100%;
    padding-left: 0;
    position: relative;
    -webkit-flex-direction: column;
    padding: 0 1em;
    -webkit-justify-content: center;
}

.booking-btn {
    margin-top: 10px;
    transition: 0.5s;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #fff;
    border-color: #757575;
    background-color: #757575;
    padding-top: 10px;
    padding-right: 43px;
    padding-bottom: 10px;
    padding-left: 43px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    line-height: 1;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
}

.booking-btn:hover {
    transition: 0.5s;
    border-color: #444444;
    background-color: #444444;

}

.main-nav-flame {
    background-color: #eee;

}

.transform{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    flex: auto;
    justify-content: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    transition: 3s;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.367);

}

.transform2{
margin-top: 20px;
    background-color: rgba(238, 238, 238, 0);

}

/* .main-nav-container .transform{
    background-color: #eee;
    padding: 120px 300px;
} */

.main-nav {
    justify-content: center;
    max-width: 688px;
    margin: 0 auto;
    font-family: 'Lora',serif;
    font-weight: 500;

}

/* .navbar-toggler {
    min-height: 3em;
}

#navbarTogglerDemo02 {
    min-height: 3.5em;

} */

.main-nav ul {
    font-size: 18px;
    text-decoration: none;
    height: 50px;
    line-height: -20px;

}

.main-nav li {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s linear;
    margin-right: -6px;
    z-index: 0;
    z-index: 0 !important;
}

.main-nav li:hover {
    transition: 0.5s;
    background-color: #757575;
}

.main-nav a {
    transition: 0.3s;
    color: rgb(66, 66, 66);
    justify-content: center;
    text-decoration: none;
    line-height: -10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 0 !important;
}

.main-nav a:hover {
    color: #fff;
    z-index: 0 !important;
}

.main-img {
    width: 100%;
    -webkit-filter: grayscale(1);

    /* filter: grayscale(100%); */
    /* -webkit-transition: 3s; */
    /* transition: .10s ease-in-out; */
}

.grayscale {
    -webkit-filter: grayscale(0);
    -webkit-transition: 5s;

}

.article-flame {
    font-size: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    content: '';
    border-bottom: 1px solid #fff;
    display: block;
    line-height: 1.6;
    z-index: 2;

}

.article-flame h2 {
    letter-spacing: .2em;
    font-weight: 310;
    font-size: 20px;
    margin-bottom: 5px;
}
.article-flame hr {
    width: 100%;
    background-color: #bfbfbf;
    margin-top: 10px;
}
.article-container {
    padding-left: 13%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: table;
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
}

article ul .news {
    margin-top: 8px;
    margin-bottom: 8px;
}

article ul a {
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

article ul a:hover {
    transition: 0.3s;
    text-decoration: none;
    color: #bfbfbf;
}

article .date {
    letter-spacing: 4px;
}

article .title {
    letter-spacing: 2px;
}

.more-btn-flame {
margin-top: 40px;


}

.more-btn-container {
    height: 100%;
    position: relative;
    -webkit-flex-direction: column;

}

.more-btn {
    margin-top: 20px;
    /* margin-left: 30px; */
    transition: 0.5s;
    border-style: solid;
    color: #fff;
    border-color: #757575;
    background-color: #757575;
    padding-top: 10px;
    padding-right: 43px;
    padding-bottom: 10px;
    padding-left: 43px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    line-height: 1;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.more-btn:hover {
    transition: 0.5s;
    border-color: #444444;
    background-color: #444444;
}

.img-list{
	display: flex;
	flex-wrap:wrap;
}
.img-list li {

}
.img-list li img {
	max-width:100%;
	height: auto;
	border:solid 1px #ccc;
}

#two-img {
    display: flex;

}

.img-1 {

    position: relative;
    transform: translate3d(3000px,0,3000px);
    transition: 1.5s;
    }

    .hair-img-1 {
        transition: 1.5s;
    }

.img-2 {

    position: relative;
    transform: translate3d(1500px,-500px,1500px);
    margin-top: 1500px;
    transition: 1.5s;
    }

    .hair-img-2 {
        transition: 1.5s;
    }

.img-3 {

    position: relative;
    transform: translate3d(-1500px,800px,0);
    transition: 1.5s;
    }

    .hair-img-3 {
        transition: 1.5s;
    }

.img-4 {

    position: relative;
    transform: translate3d(-3000px,0,0);
    transition: 1.5s;
    }

    .hair-img-4 {
        transition: 1.5s;
    }

/* .text-1 {
    position: absolute;
    top: 0;
  left: 0;
  margin: 0;
  color: white;
  background: skyblue;
  font-size: 15px;
  line-height: 1;
  padding: 5px 10px;

} */
.text-1 {
    position: relative;
  margin: 0; /*余計な隙間を除く*/
  color: white;/*文字を白に*/
  background: rgba(135, 207, 235, 0.646);/*背景色*/
  font-size: 15px;
  line-height: 1;/*行高は1に*/
  padding: 5px 10px;
  margin-right:8.8px;
  transform: translate3d(0px,-24.2px,0);
}
/*
.text-2 {
    position: relative;

  margin: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  font-size: 15px;
  line-height: 1;
  padding: 5px 10px;

  margin-right:8.0px;
  padding-bottom:8.0px;
  transform: translate3d(0px,-536.6px,0);
} */

.text-2 {
    position: relative;

  margin: 0; /*余計な隙間を除く*/
  color: #fff;/*文字を白に*/
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1;/*行高は1に*/
  padding: 5px 50px;
  font-family: 'Lobster', cursive;
  margin-right:8.9px;
  margin-left:1px;
  padding-bottom:8.0px;
  transform: translate3d(0px,-29px,0);
}

.text-3 {
    position: relative;
  margin: 0; /*余計な隙間を除く*/
  color: white;/*文字を白に*/
  background: rgba(135, 207, 235, 0.646);/*背景色*/
  font-size: 15px;
  line-height: 1;/*行高は1に*/
  padding: 5px 10px;
  margin-right:8.8px;
  transform: translate3d(0px,-24.2px,0);
}

.text-4 {
    position: relative;
  margin: 0; /*余計な隙間を除く*/
  color: white;/*文字を白に*/
  background: rgba(135, 207, 235, 0.646);/*背景色*/
  font-size: 15px;
  line-height: 1;/*行高は1に*/
  padding: 5px 10px;
  margin-right:8.8px;
  transform: translate3d(0px,-24.2px,0);
}

.logo-container {
position: relative;

}

#icon {
    /* z-index: 1; */
    width: 40px;
    height: 40px;
/* margin-left: 72px; */

}

.icon-text {

    top: 21px;
    left: 0;
    text-decoration: underline;
    letter-spacing: 0px;
}

/* @media (min-width: 960px){
    .header-container {
        max-width: 1240px;
    }


} */



/* @media (max-width: 340px)
{
    .uagb-post-grid .uagb-post__columns-tablet-2 article {
        width: 50%;
    }
} */
