.contact-form {
    font-size: 0.8rem;

    border-top-color: #d5d5d5;
    border-left-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-bottom-color: #d5d5d5;
    margin-bottom: 20px;
    width: 100%;
}

.contact-form th {
    color: #b48054;
    background-color: #d8ebea;
    padding: 20px;
    width: 30%;

}

.contact-form td {
    color: #b48054;
    background-color: #d8ebea;
    padding: 10px;
    width: 100%;
}

.contact-form td {
    background-color: #ffffff;
    padding: 10px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #d5d5d5;
    border-left-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-bottom-color: #d5d5d5;
}



.back {
    margin-right: 135px;
    left: 0;
    margin-bottom: -50px;
    padding: 15px 30px 15px 30px;
    bottom: 0;
    position: absolute;
    background-color: rgb(255, 245, 234);
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: #666666 !important;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}

.next {
    margin-right: 0px;
    right: 0;
    margin-bottom: -50px;
    padding: 15px 30px 15px 30px;
    bottom: 0;
    position: absolute;
    background-color: #5f5f5f;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: rgb(255, 245, 234);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}

.cancel {
    margin-right: 15px;
    right: 0;
    margin-bottom: -51px;
    padding: 16px 20px 16px 20px;
    bottom: 0;
    position: absolute;
    background-color: #8d1515;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: rgb(255, 245, 234);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}
