.main-nav h3 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #444444;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #a0c5ef;
}
.main-nav {
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50px;
    border: solid 3px;
    border-color: #d8d6bc;
    background-color:#d5e6e4;
    width: 100%;
    display: flex;
    margin-left: 164px;
    margin-right: 165px;
}

.contact-form {
    font-size: 0.8rem;

    border-top-color: #d5d5d5;
    border-left-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-bottom-color: #d5d5d5;
    margin-bottom: 20px;
    width: 100%;
}

.contact-form th {
    color: #b48054;
    background-color: #d8ebea;
    padding: 20px;
    width: 30%;

}

.contact-form td {
    color: #b48054;
    background-color: #d8ebea;
    padding: 10px;
    width: 100%;
}

.contact-form td {
    background-color: #ffffff;
    padding: 10px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #d5d5d5;
    border-left-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-bottom-color: #d5d5d5;
}

.sub-btn {
    background-color: #5f5f5f;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}
