    .main-nav h3 {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.25;
        color: #444444;
        padding-bottom: 8px;
        margin-bottom: 20px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #a0c5ef;
    }
    .main-nav {
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 50px;
        border: solid 3px;
        border-color: #d8d6bc;
        background-color:#d5e6e4;
        width: 100%;
        display: flex;
    }

    .address {
        border-radius: 50px;
        border: solid 7px;
        border-color: rgb(170, 204, 202);
        background-color:#ebeade;
        list-style: none;
        font-size: 1rem;
        font-weight: bold;
    }

    .address .tel {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .introduction {
        border-radius: 42px;
        border: solid 2px;
        border-color: rgb(204, 179, 171);
        background-color:rgb(234, 224, 221);
        list-style: none;
        font-weight: bold;
        font-size: 0.9rem;

    }

    .introduction .name {
        padding-top: 5px;
        line-height: 35px;

    }


    

/* ↓吹き出し↓ */

/* 吹き出し本体 */
.balloon{
    position: relative;
    padding: 20px;
    background-color: #c6e1ff;
    border-radius: 10px;
    font-family: cursive;
    transition: 2s;
    box-shadow: 4px 5px 0px 0px #6180a382;         /* 吹き出し本体の影 */
  }
  /* 三角アイコン */
  .balloon::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 25px;
    bottom: -17px;
    border-top: 15px solid #6180a378;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  /* 三角アイコンの影 */
  .balloon::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 20px;
    bottom: -15px;
    border-top: 15px solid #c6e1ff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }


  /* ↑吹き出し↑ */




    .quick-booking-able-text {
        padding-bottom: 0.5em;
        padding-top: 1.0em;
        font-family: cursive;
        /* font-size: 50px; */
        font-size: 25px;
        color: #444444;
        font-weight: 600;
        text-align: center;
        margin-top: 100px;
    }


    /* ↓文字横並び↓ */


    .fix-line {

        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: center;

    }

    .fix-line a{

        color: #444444;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }

    .fix-line a:hover{
        color: #444444d0;
    }

    /* ↑文字横並び↑ */

    /* ↓トグルスイッチ↓ */


    .toggle-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;

    }

    .toggle-label {
    width: 40px;
    height: 20px;
    background-color: #4b9dd8;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-sizing: border-box;
    margin-bottom: -0.2rem;

    }

    .toggle-label:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    }

    .toggle-input:checked + .toggle-label {

    background: #d84b6a;
    }
    .toggle-input:checked + .toggle-label:after {
    left: 20px;

    }

    .toggle-switch {
    position: relative;
    width: 75px;
    margin: auto;

    }

    /* ↑トグルスイッチ↑ */

    /* ↓トグルスイッチカレンダー↓ */

    #tabBox1{

    background:rgb(240, 255, 228);

    }


    #tabBox2{

    background:#FFC;
    display:none;

    }

    /* ↑トグルスイッチカレンダー↑ */


    /* ↓メインカレンダー↓ */

    .calender {

    height: 600px;
    border: solid 1.2px;
    border-color: rgb(0, 0, 0, 0.2);
    vertical-align: middle;

    }

    .calender th {/*table内のthに対して*/
        padding: 10px;/*上下左右10pxずつ*/
        font-size: 0.9rem;

      }

    .calender th:first-child {
    /* 横スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #e9ecef;
    border: 20px #dee2e6;
    z-index: 10;

    }

    .calender thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
    border-bottom: none;

    }

    .calender thead th:first-child {
    padding: 30px;
    z-index: 10;

    }

    .calender td {/*table内のtdに対して*/
    padding: 3px 10px;/*上下3pxで左右10px*/
    z-index: 0;

    }

    .calender td:hover {/*table内のtdに対して*/
    padding: 3px 10px;/*上下3pxで左右10px*/
    z-index: 0;
    background-color:#4444442d;
    }

    /* input */
    .calender-cell {
        width: 40px;
        height: 35px;
        border:none;
        background:none;
        text-align: center;
        z-index: 0;
        color: #4b9dd8;

    }

    .calender-cell:active {

        border:none;
        background:none;
        outline:0;

    }




    /* ↓最後の列の×↓ */

    #unavailable {
        color: #696969;
        font-weight: 600;
    }

    /* ↑最後の列の×↑ */




    .booking-btn {
        background-color: #5f5f5f;
        color: #fff;
        width: 20%;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: 3px;
        font-size: 18px;

    }


    .booking-btn a {
        color: #fff;
        text-decoration: none;
    }

    .booking-btn:hover {

        color: #fff;
    }




