
.main {
    padding-top: 0px;
}

.confirmation-form {
    font-size: 1rem;
    border-top-color: #d5d5d5;
    border-left-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-bottom-color: #d5d5d5;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
}

.confirmation-form th {
    color: #b48054;
    background-color: #ffffff9c;
    padding: 10px;


}

.confirmation-form th:first-child {
    color: #b48054;
    background-color: #d8ebea;
    padding: 10px;


}

.confirmation-form td {
    color: #b48054;
    background-color: #ffffff9c;
    padding-left:100px;
    padding: 10px;
    border-bottom: solid 1px #b48054;


}

.confirmation-form tr:last-child td {
    border-bottom: 0px;
    background-color: #ffffff9c;

}

.charge {
    margin-left: 20px;
}

.fixed-output {

    left: 0;
    margin-bottom: 15px;
    bottom: 0;
    margin-left: 20px;
    position: absolute;
}

.fixed-output2 {

    position: absolute;
    margin-left: -5px;
    margin-bottom: -20px;
    bottom: 0;
}

.fixed-output3 {

    position: absolute;
    margin-left: 80px;
    margin-bottom: 15px;
    bottom: 0;
}

.fixed-output4 {

    position: absolute;
    margin-left: 90px;
    margin-bottom: -20px;
    bottom: 0;
}

.back {
    margin-right: 400px;
    right: 0;
    margin-bottom: -15px;
    padding: 15px 30px 15px 30px;
    bottom: 0;
    position: static;
    background-color: rgb(255, 245, 234);
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: #666666 !important;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}

.next {
    margin-right: 15px;
    right: 0;
    margin-bottom: -15px;
    padding: 15px 30px 15px 30px;
    bottom: 0;
    position: absolute;
    background-color: #5f5f5f;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: rgb(255, 245, 234);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}

.cancel {
    margin-right: 137px;
    right: 0;
    margin-bottom: -15px;
    padding: 15px 45px 15px 45px;
    bottom: 0;
    position: absolute;
    background-color: #8d1515;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: rgb(255, 245, 234);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}
