.logo-flame {
    line-height: 1;
    align-self: center;
    position: absolute;
    z-index: 100;
}

.logo-container {
    padding: 0.2em 2em;
    font-family: cursive;
}

.logo-container a {
    padding: 1em 0;
    font-family: 'Lobster',cursive;
    /* font-size: 50px; */
    font-size: calc(4.5rem + ((1vw - 0.64rem) * 6));
    color: #444444;
    text-decoration: underline;
}


#woman5 {
    width: 100%;
    object-fit: cover;
    object-position: 100% 0%;
    opacity: 0.5;
  }

  .img-container-woman5 {
    background-color: rgb(255, 255, 255);
    display:inline-block;

  }



   /* ↓メインカレンダー↓ */

    .calender {

        height: 600px;
        border: solid 1.2px;
        border-color: rgb(0, 0, 0, 0.2);
        vertical-align: middle;

        }

        .calender th {/*table内のthに対して*/
            padding: 10px;/*上下左右10pxずつ*/
            font-size: 0.9rem;

          }

        .calender th:first-child {
        /* 横スクロール時に固定する */
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #e9ecef;
        border: 20px #dee2e6;
        z-index: 10;

        }

        .calender thead th {
        /* 縦スクロール時に固定する */
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        /* tbody内のセルより手前に表示する */
        z-index: 1;
        border-bottom: none;

        }

        .calender thead th:first-child {
        padding: 30px;
        z-index: 10;

        }

        .calender td {/*table内のtdに対して*/
        padding: 3px 10px;/*上下3pxで左右10px*/
        z-index: 0;

        }

        .calender td:hover {/*table内のtdに対して*/
        padding: 3px 10px;/*上下3pxで左右10px*/
        z-index: 0;
        background-color:#4444442d;
        }

        /* input */
        .calender-cell {
            width: 40px;
            height: 35px;
            border:none;
            background:none;
            text-align: center;
            z-index: 0;
            color: #4b9dd8;

        }

        .calender-cell:active {

            border:none;
            background:none;
            outline:0;

        }


        .fixed-output {
            font-size: 1.3rem;
            left: 0;
            margin-bottom: -20px;
            bottom: 0;
            margin-left: 20px;
            position: absolute;
        }

        .fixed-output2 {
            font-size: 1.3rem;
            position: absolute;
            margin-left: -5px;
            margin-bottom: -50px;
            bottom: 0;
        }

        .fixed-output3 {
            font-size: 1.3rem;
            position: absolute;
            margin-left: 80px;
            margin-bottom: -20px;
            bottom: 0;
        }

        .fixed-output4 {
            font-size: 1.3rem;
            position: absolute;
            margin-left: 90px;
            margin-bottom: -50px;
            bottom: 0;
        }

        .back {
            margin-right: 135px;
            right: 0;
            margin-bottom: -50px;
            padding: 15px 30px 15px 30px;
            bottom: 0;
            position: absolute;
            background-color: rgb(255, 245, 234);
            border: solid #CCCCCC;
            border-radius: 4px;
            border-width: 1px 1px 3px;
            color: #666666 !important;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            z-index: 400;
        }

        .next {
            margin-right: 0px;
            right: 0;
            margin-bottom: -50px;
            padding: 15px 30px 15px 30px;
            bottom: 0;
            position: absolute;
            background-color: #5f5f5f;
            border: solid #CCCCCC;
            border-radius: 4px;
            border-width: 1px 1px 3px;
            color: rgb(255, 245, 234);
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            z-index: 400;
        }

        .cancel {
            margin-right: 15px;
            right: 0;
            margin-bottom: -51px;
            padding: 16px 40px 16px 40px;
            bottom: 0;
            position: absolute;
            background-color: #8d1515;
            border: solid #CCCCCC;
            border-radius: 4px;
            border-width: 1px 1px 3px;
            color: rgb(255, 245, 234);
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            z-index: 400;
        }
