
.logo-flame {
    line-height: 1;
    align-self: center;
    position: absolute;
    z-index: 100;
}

.logo-container {
    padding: 0.2em 2em;
    font-family: cursive;
}

.logo-container a {
    padding: 1em 0;
    font-family: 'Lobster',cursive;
    /* font-size: 50px; */
    font-size: calc(4.5rem + ((1vw - 0.64rem) * 6));
    color: #444444;
    text-decoration: underline;
}


#woman5 {
    width: 100%;
    object-fit: cover;
    object-position: 100% 0%;
    opacity: 0.5;
  }

  .img-container-woman5 {
    background-color: rgb(255, 255, 255);
    display:inline-block;

  }



   /* ↓メインカレンダー↓ */

    .calender {

        height: 600px;
        border: solid 1.2px;
        border-color: rgb(0, 0, 0, 0.2);
        vertical-align: middle;

        }

        .calender th {/*table内のthに対して*/
            padding: 10px;/*上下左右10pxずつ*/
            font-size: 0.9rem;

          }

        .calender th:first-child {
        /* 横スクロール時に固定する */
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #e9ecef;
        border: 20px #dee2e6;
        z-index: 10;

        }

        .calender thead th {
        /* 縦スクロール時に固定する */
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        /* tbody内のセルより手前に表示する */
        z-index: 1;
        border-bottom: none;

        }

        .calender thead th:first-child {
        padding: 30px;
        z-index: 10;

        }

        .calender td {/*table内のtdに対して*/
        padding: 3px 10px;/*上下3pxで左右10px*/
        z-index: 0;

        }

        .calender td:hover {/*table内のtdに対して*/
        padding: 3px 10px;/*上下3pxで左右10px*/
        z-index: 0;
        background-color:#4444442d;
        }

        /* input */
        .calender-cell {
            width: 40px;
            height: 35px;
            border:none;
            background:none;
            text-align: center;
            z-index: 0;
            color: #4b9dd8;

        }

        .calender-cell:active {

            border:none;
            background:none;
            outline:0;

        }


@media screen and (min-width: 640px) {

    .s_03 .accordion_one .accordion_header {
        font-size: 18px;
    }
    .s_03 .accordion_one .accordion_header .i_box {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .s_03 .accordion_one .accordion_inner .box_one {
        font-size: 29px;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        font-weight: 600;
        font-size: 16px
    }


    input[type=checkbox] {
        width:			13px;
        height:			13px;
        -moz-transform:		scale(1.4);
        -webkit-transform:	scale(1.4);
        transform:		scale(1.4);
        margin-top: 0px;
        vertical-align:0.1em;
    }

    .fixed-output {
        position: fixed;
        left: 0;
        margin-bottom: 15px;
        bottom: 0;
        margin-left: 10px;
    }

    .fixed-output2 {
        position: fixed;

        margin-left: 100px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .fixed-output3 {
        position: fixed;

        margin-left: 205px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .back {
        margin-right: 125px;
        right: 0;
        margin-bottom: 8px;
        padding: 15px 30px 15px 30px;
        bottom: 0;
        position: fixed;
        background-color: rgb(255, 245, 234);
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: #666666 !important;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .cancel {
        margin-right: 10px;
        right: 0;
        margin-bottom: 8px;
        padding: 15px 37px 15px 37px;
        bottom: 0;
        position: fixed;
        background-color: #8d1515;
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: rgb(255, 245, 234);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .plan-footer-container {
        background-color: rgba(0, 0, 0, 0.626);
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding-bottom: 70px;
        color: #ffffffef;
        z-index: 400;
        width: 100%;
        font-size: 25px;

    }
}




@media screen and (max-width: 640px) {

    .s_03 .accordion_one .accordion_header {
        font-size: 16px;
        text-align: left;
        padding: 15px 60px 15px 15px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        font-weight: 600;
        font-size: 13px
    }

    input[type=checkbox] {
        width:			9px;
        height:			9px;
        -moz-transform:		scale(1.4);
        -webkit-transform:	scale(1.4);
        transform:		scale(1.4);
        margin-top: 0px;
        vertical-align:0.02em;
    }

    .fixed-output {
        position: fixed;
        left: 0;
        margin-bottom: 15px;
        bottom: 0;
        margin-left: 5px;
    }

    .fixed-output2 {
        position: fixed;

        margin-left: 50px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .fixed-output3 {
        position: fixed;

        margin-left: 80px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .back {
        margin-right: 80px;
        right: 0;
        margin-bottom: 8px;
        bottom: 0;
        position: fixed;
        background-color: rgb(255, 245, 234);
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: #666666 !important;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .cancel {
        margin-right: 5px;
        right: 0;
        margin-bottom: 8px;
        bottom: 0;
        position: fixed;
        padding-left: 19px;
        padding-right: 19px;
        background-color: #8d1515;
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: rgb(255, 245, 234);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .plan-footer-container {
        background-color: rgba(0, 0, 0, 0.626);
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding-bottom: 50px;
        color: #ffffffef;
        z-index: 400;
        width: 100%;

    }

}






