
/* ↓アコーディオン↓ */

.s_03 {
    padding-top: -10px;
}


.s_03 .accordion_one {
    max-width: 1024px;
    margin: 0 auto;
}
.s_03 .accordion_one .accordion_header {
    background-color: #db0f2f;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 11%;
    text-align: center;
    position: relative;
    z-index: +1;
    cursor: pointer;
    transition-duration: 0.2s;
}
.s_03 .accordion_one:nth-of-type(2) .accordion_header {
    background-color: #ff9a05;
}
.s_03 .accordion_one:nth-of-type(3) .accordion_header {
    background-color: #1c85d8;
}
.s_03 .accordion_one:nth-of-type(4) .accordion_header {
    background-color: #25d81c;
}
.s_03 .accordion_one:nth-of-type(5) .accordion_header {
    background-color: #bc1cd8;
}
.s_03 .accordion_one .accordion_header:hover {
    opacity: .8;
}
.s_03 .accordion_one .accordion_header .i_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    margin-top: -18px;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
}
.s_03 .accordion_one .accordion_header.stay .i_box {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.s_03 .accordion_one .accordion_header .i_box .one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
}
.s_03 .accordion_one .accordion_header.stay .i_box .one_i {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.s_03 .accordion_one .accordion_header.stay.open .i_box .one_i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.s_03 .accordion_one .accordion_header.open .i_box {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.s_03 .accordion_one .accordion_header.stay.open .i_box {
    -webkit-transform: rotate(315eg);
    transform: rotate(315deg);
}
.s_03 .accordion_one .accordion_header .i_box .one_i:before, .s_03 .accordion_one .accordion_header .i_box .one_i:after {
    display: flex;
    content: '';
    background-color: #fff;
    border-radius: 10px;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
}
.s_03 .accordion_one .accordion_header .i_box .one_i:before {
    width: 4px;
    height: 18px;
    top: 0;
    left: 7px;
}
.s_03 .accordion_one .accordion_header.stay .i_box .one_i:before {
    content: none;
}
.s_03 .accordion_one .accordion_header.open .i_box .one_i:before {
    content: none;
}
.s_03 .accordion_one .accordion_header.stay.open .i_box .one_i:before {
    content: "";
}
.s_03 .accordion_one .accordion_header.open .i_box .one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.s_03 .accordion_one .accordion_header.stay.open .i_box .one_i:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.s_03 .accordion_one .accordion_inner {
    display: none;
    padding: 15px 15px;
    border-left: 2px solid #db0f2f;
    border-right: 2px solid #db0f2f;
    border-bottom: 2px solid #db0f2f;
    box-sizing: border-box;
}
.s_03 .accordion_one .accordion_inner.stay {
    display: block;
}
.s_03 .accordion_one:nth-of-type(2) .accordion_inner {
    border-left: 2px solid #ff9a05;
    border-right: 2px solid #ff9a05;
    border-bottom: 2px solid #ff9a05;
}
.s_03 .accordion_one:nth-of-type(3) .accordion_inner {
    border-left: 2px solid #1c85d8;
    border-right: 2px solid #1c85d8;
    border-bottom: 2px solid #1c85d8;
}
.s_03 .accordion_one:nth-of-type(4) .accordion_inner {
    border-left: 2px solid #25d81c;;
    border-right: 2px solid #25d81c;;
    border-bottom: 2px solid #25d81c;;
}
.s_03 .accordion_one:nth-of-type(5) .accordion_inner {
    border-left: 2px solid #1c85d8;
    border-right: 2px solid #1c85d8;
    border-bottom: 2px solid #1c85d8;
}


.s_03 .accordion_one .accordion_inner .box_one {
    height: 150px;
}


.s_03 .accordion_one .accordion_inner p.txt_ac {
    margin: 0;
}




/* ↑アコーディオン↑ */


.logo-flame {
    line-height: 1;
    align-self: center;
    position: absolute;
    z-index: 100;
}

.logo-container {
    padding: 0.2em 2em;
    font-family: cursive;
}

.logo-container a {
    padding: 1em 0;
    font-family: 'Lobster',cursive;
    /* font-size: 50px; */
    font-size: calc(4.5rem + ((1vw - 0.64rem) * 6));
    color: #444444;
    text-decoration: underline;
}




@media screen and (min-width: 640px) {

    .s_03 .accordion_one .accordion_header {
        font-size: 18px;
    }
    .s_03 .accordion_one .accordion_header .i_box {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .s_03 .accordion_one .accordion_inner .box_one {
        font-size: 29px;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        font-weight: 600;
        font-size: 16px
    }


    input[type=checkbox] {
        width:			13px;
        height:			13px;
        -moz-transform:		scale(1.4);
        -webkit-transform:	scale(1.4);
        transform:		scale(1.4);
        margin-top: 0px;
        vertical-align:0.1em;
    }

    .fixed-output {
        position: fixed;
        left: 0;
        margin-bottom: 15px;
        bottom: 0;
        margin-left: 10px;
    }

    .fixed-output2 {
        position: fixed;

        margin-left: 100px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .fixed-output3 {
        position: fixed;

        margin-left: 200px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .back {
        margin-right: 125px;
        right: 0;
        margin-bottom: 8px;
        padding: 15px 30px 15px 30px;
        bottom: 0;
        position: fixed;
        background-color: rgb(255, 245, 234);
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: #666666 !important;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .next {
        margin-right: 10px;
        right: 0;
        margin-bottom: 8px;
        padding: 15px 30px 15px 30px;
        bottom: 0;
        position: fixed;
        background-color: #5f5f5f;
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: rgb(255, 245, 234);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .plan-footer-container {
        background-color: rgba(0, 0, 0, 0.626);
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding-bottom: 70px;
        color: #ffffffef;
        z-index: 400;
        width: 100%;
        font-size: 25px;

    }
}




@media screen and (max-width: 640px) {

    .s_03 .accordion_one .accordion_header {
        font-size: 16px;
        text-align: left;
        padding: 15px 60px 15px 15px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        font-weight: 600;
        font-size: 13px
    }

    input[type=checkbox] {
        width:			9px;
        height:			9px;
        -moz-transform:		scale(1.4);
        -webkit-transform:	scale(1.4);
        transform:		scale(1.4);
        margin-top: 0px;
        vertical-align:0.02em;
    }

    .fixed-output {
        position: fixed;
        left: 0;
        margin-bottom: 15px;
        bottom: 0;
        margin-left: 5px;
    }

    .fixed-output2 {
        position: fixed;

        margin-left: 50px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .fixed-output3 {
        position: fixed;

        margin-left: 80px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .back {
        margin-right: 80px;
        right: 0;
        margin-bottom: 8px;
        bottom: 0;
        position: fixed;
        background-color: rgb(255, 245, 234);
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: #666666 !important;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .next {
        margin-right: 5px;
        right: 0;
        margin-bottom: 8px;
        bottom: 0;
        position: fixed;
        background-color: #5f5f5f;
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: rgb(255, 245, 234);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .plan-footer-container {
        background-color: rgba(0, 0, 0, 0.626);
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding-bottom: 50px;
        color: #ffffffef;
        z-index: 400;
        width: 100%;

    }

}









