

@media screen and (max-width: 1025px) {

.booking-btn {
    background-color: #5f5f5f;
    color: #fff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    font-size: 18px;

}

.booking-btn-container {
    position: fixed;
    bottom:1px;
    transition:1s;
    opacity:0.95;
    z-index: 50;
    text-align: center;
    width: 100%;

  }

.balloon-container {
    margin-top: 350px;
    margin-right: 0px;
    top: 0;
    right: 0;
    position: absolute;

    }

.balloon {
    height: 5%;
    width: 60%;
    margin: 0 0 0 auto;
    font-size: 10px;
    line-height: 15px;
    padding: 10px;
    font-weight: 600;
}




/* ↓吹き出し↓ */

/* 吹き出し本体 */
.balloon{
    position: relative;
    padding: 20px;
    background-color: #c6e1ff;
    border-radius: 10px;
    font-family: cursive;
    transition: 2s;
    box-shadow: 4px 5px 0px 0px #6180a382;         /* 吹き出し本体の影 */
  }
  /* 三角アイコン */
  .balloon::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 25px;
    bottom: -17px;
    border-top: 15px solid #6180a378;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  /* 三角アイコンの影 */
  .balloon::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 20px;
    bottom: -15px;
    border-top: 15px solid #c6e1ff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }


  /* ↑吹き出し↑ */



}

@media screen and (max-width: 640px) {

    .booking-btn-container {
        position: fixed;
        bottom:1px;
        transition:1s;
        opacity:0.95;
        z-index: 50;
        text-align: center;
        width: 100%;

      }

      .booking-btn {
        z-index: 50;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #5f5f5f;
        color: #fff;
        width: 100%;
     }

     .balloon-container {
        margin-top: 390px;
        margin-right: 15px;
        top: 0;
        position: absolute;

        }

        .balloon {
            height: 5%;
            width: 60%;
            margin: 0 0 0 auto;
            font-size: 10px;
            line-height: 15px;
            padding: 10px;
            font-weight: 600;
        }

        .fix-line a{

            color: #444444;
            font-size: 13px;
            font-weight: 700;
            text-decoration: none;
        }





/* ↓吹き出し↓ */

/* 吹き出し本体 */
.balloon{
    position: relative;
    padding: 20px;
    background-color: #c6e1ff;
    border-radius: 10px;
    font-family: cursive;
    transition: 2s;
    box-shadow: 4px 5px 0px 0px #6180a382;         /* 吹き出し本体の影 */
  }
  /* 三角アイコン */
  .balloon::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 25px;
    bottom: -17px;
    border-top: 15px solid #6180a378;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  /* 三角アイコンの影 */
  .balloon::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 20px;
    bottom: -15px;
    border-top: 15px solid #c6e1ff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }


  /* ↑吹き出し↑ */


}



/* ↓JSクラス追加用↓ */

/* ↓カレンダーの〇が×に変わったときにリンクを無効にする↓ */

.disabled {
    pointer-events: none;
    color: black;

}

