@media screen and (max-width: 960px) {
    .contact-form td:last-child {
      border-bottom: solid 1px #ccc;
      width: 100%;
    }
    .contact-form table {
      width: 80%;
    }

    .contact-form td {
  　　border-bottom: none;
      display: block;
      width: 100%;
    }

    .contact-form th {
   border: solid 1px #ccc;
    border-top: none;
    border-bottom: none;
      display: block;
      width: 100%;
      height: 10px;
      line-height: 5px
    }

    .contact-form tr:first-child th {
   border-top: solid 1px #ccc;
    }
  }
