



@media screen and (max-width: 960px) {


    .fixed-output {

        left: 0;
        margin-bottom: 15px;
        bottom: 0;
        margin-left: 20px;
        position: absolute;
    }

    .fixed-output2 {

        position: absolute;
        margin-left: -5px;
        margin-bottom: -20px;
        bottom: 0;
    }

    .fixed-output3 {

        position: absolute;
        margin-left: 80px;
        margin-bottom: 15px;
        bottom: 0;
    }

    .fixed-output4 {

        position: absolute;
        margin-left: 90px;
        margin-bottom: -20px;
        bottom: 0;
    }

    .back {
        margin-left: 20px;
        left: 0;
        margin-bottom: 5px;
        padding: 15px 30px 15px 30px;
        bottom: 0;
        position: fixed;
        background-color: rgb(255, 245, 234);
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: #666666 !important;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .next {
        margin-right: 20px;
        right: 0;
        margin-bottom:5px;
        padding: 15px 30px 15px 30px;
        bottom: 0;
        position: fixed;
        background-color: #5f5f5f;
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: rgb(255, 245, 234);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }

    .cancel {
        margin-right: 150px;
        right: 0;
        margin-bottom: 5px;
        padding: 15px 40px 15px 40px;
        bottom: 0;
        position: fixed;
        background-color: #8d1515;
        border: solid #CCCCCC;
        border-radius: 4px;
        border-width: 1px 1px 3px;
        color: rgb(255, 245, 234);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        z-index: 400;
    }


    .plan-footer-container {
        background-color: rgba(0, 0, 0, 0.626);
        position: fixed;
        bottom: 0;
        margin-bottom: 0px;
        padding-bottom: 70px;
        color: #ffffffef;
        z-index: 400;
        width: 100%;

    }



    }


@media screen and (max-width: 640px) {


.fixed-output {

    left: 0;
    margin-bottom: 15px;
    bottom: 0;
    margin-left: 20px;
    position: absolute;
}

.fixed-output2 {

    position: absolute;
    margin-left: -5px;
    margin-bottom: -20px;
    bottom: 0;
}

.fixed-output3 {

    position: absolute;
    margin-left: 80px;
    margin-bottom: 15px;
    bottom: 0;
}

.fixed-output4 {

    position: absolute;
    margin-left: 90px;
    margin-bottom: -20px;
    bottom: 0;
}

.back {
    margin-left: 20px;
    left: 0;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    bottom: 0;
    position: fixed;
    background-color: rgb(255, 245, 234);
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: #666666 !important;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}

.next {
    margin-right: 5px;
    right: 0;
    margin-bottom:5px;
    padding: 5px 10px 5px 10px;
    bottom: 0;
    position: fixed;
    background-color: #5f5f5f;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: rgb(255, 245, 234);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}

.cancel {
    margin-right: 90px;
    right: 0;
    margin-bottom: 5px;
    padding: 5px 15px 5px 15px;
    bottom: 0;
    position: fixed;
    background-color: #8d1515;
    border: solid #CCCCCC;
    border-radius: 4px;
    border-width: 1px 1px 3px;
    color: rgb(255, 245, 234);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 400;
}


.plan-footer-container {
    background-color: rgba(0, 0, 0, 0.626);
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 50px;
    color: #ffffffef;
    z-index: 400;
    width: 100%;

}



}

